@import '../index.css';

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 30px;
}

h1 {
    font-size: 2.7rem;
    font-weight: var(--font-weight-700);
}

p {
    font-size: 1.3rem;
}